[submodule "submodules/HunyuanVideo-I2V"]
	path = submodules/HunyuanVideo-I2V
	url = https://github.com/Tencent-Hunyuan/HunyuanVideo-I2V.git
[submodule "submodules/LTX-Video"]
	path = submodules/LTX-Video
	url = https://github.com/Lightricks/LTX-Video.git
[submodule "submodules/morphic-frames-to-video"]
	path = submodules/morphic-frames-to-video
	url = https://github.com/morphicfilms/frames-to-video.git
